.container-home {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

html, body {
   height: 100vh;
}



.logo-home {
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 15px rgb(43 44 50 / 80%);
}

.home {
    text-align: center;
    margin: auto;
}


/* MEDIA QUERRIES */

@media (max-width: 767px) {
   
    .container-home{
        margin-top: 15%;
    }
}