

.title-tarif {
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.tarif {
    margin-top: 3rem;
    width: 50%;
}
/* MEDIA QUERRIES */

@media (max-width: 767px) {
.tarif-page {
    margin-top: 15%;
}
.tarif {
    width: 90%;
    text-align: justify;
}



}